@tailwind base;
@tailwind components;
@tailwind utilities;
/* Light mode */
body {
  background-color: #f9fafb; /* light background */
  color: #111827; /* dark text */
}

/* Dark mode */
body.dark {
  background-color: #1f2937; /* dark background */
  color: #e5e7eb; /* light text */
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Fix autofill turning input field white
input:-webkit-autofill {
  background-color: #A9B5DF !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus {
  background-color: #A9B5DF !important;
  -webkit-text-fill-color: white !important;
} */
